.ms_bg_lightpink{
    background-color: lightpink;
}

.ms_bg_lightblue{
    background-color: lightskyblue;
}

.ms_bg_lightcoral{
    background-color:lightcoral;
}




.ms_hidden{
    display: none;
}